.input-with-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  input {
    width: 400px;
    height: 45px;
    margin-top: 10px;
    margin-bottom: 40px;
    font-family: sans-serif bold;
    border: 3px solid #a2d333;
    border-radius: 30px;
    transition: border-color 0.3s ease;

    &:focus {
      outline: none;
      border-color: #a2d333;
    }

    &::placeholder {
      align-items: center;
      color: rgba(0, 0, 0, 0.2);
      font-style: italic;
      
      font-size: 22px;
      margin-left: 30px;
      font-weight: 500;
    }
  }

  img {
    width: 30px;
    position: absolute;
    right: 20px;
    top: 35%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}
